<%# @param chat_room [ChatRoom %>

<div>
  <% unless chat_room.members.member?(client.user) %>
  <button class="btn btn-default pull-right Event"
          type="button"
          data-trigger-event="JoinRoom"
          data-param-room="${new ChatRoom(<%= chat_room.id %>)}">
    <span class="glyphicon glyphicon-plus pull-right Event"></span>
  </button>
  <% else %>
  <% end %>
  <div class="sec-title">members</div>
</div>

<% chat_room.members.each do |user| %>
<div class="User status"><%=user.name%></div>
<% end %>
