<div class="User">
    <span class="welcome">Welcome</span><%=user.name%> (<%=user.email%>)    
    <button class="fire" 
            data-trigger-event="SignOut">Sign Out</buton>
    <button class="fire" 
            data-trigger-event="CreateRoom">Create Room</buton>
</div>
