<div class="container">
<div class="User pull-right">
    <span class="welcome">Welcome</span><%=user.name%> (<%=user.email%>)    
    <button class="btn btn-default" 
            data-trigger-event="SignOut">Sign Out</buton>
    <button class="btn btn-default" 
            data-trigger-event="CreateRoom">Create Room</buton>
</div>
</div>
