 <div class="navbar navbar-inverse">
   <div class="container">
     <div class="navbar-header">
       <a class="navbar-brand" href="#">Internet Chat Relay Application</a>
     </div>
     <%= render client.user unless client.user.nil? %>
   </div>
 </div>

   <div class="container" style="height: 0px">
     <div id="online-users" class="" >
       <%= render "online_users" %><br/>
     </div>
   </div>
   <div class="container">
     <div class="row">
       <%= render "irc" %><br/>
       <%= render "red/status" %>
     </div>
   </div>
