<div class="list-group">
  <% server.online_clients.user.each do |user| %>
  <div class="list-group-item <%= (user == client.user) ? 'me' : '' %>">
    <h4 class="list-group-item-heading"><%= user.name %></h4>
    <p class="list-group-item-text"><%#= autosave_fld user, :status, :default => "...no status..." %></p>
  </div>
  <% end %>
</div>
