<div class="list-group online-users">
  <% server.online_clients.user.each do |user| %>
  <div class="list-group-item <%= (user == client.user) ? 'me' : '' %>">
    <%= img_tag_for user %>
    <div class="user-name-status">
      <h4 class="list-group-item-heading"><%= user.name %></h4>
      <p class="list-group-item-text">
        <%#= autosave_fld user, :status, :default => "...statusless..." %>
      </p>
    </div>
  </div>
  <% end %>
</div>
