div#login-div {
   width: 300px;
   margin-left: auto;
   margin-right: auto;
}

form#send-msg-form {
  margin-top: 5px;
}

div.event {
   border: 1px solid black;
   width: 300px;
   margin: 5px;
   padding: 5px;
   float: left; 
}

div.name {
    font-weight: bold;
    text-align: center;
    background-color: #CCCCCC;
}

.show .label {
    display: inline-block;
    color: auto;
}

.show .value {
    display: inline-block;
}

.edit .label {
    display: inline-block;
    color: auto;
}

.edit .value {
    display: inline-block;
}

.record .show-field .label {
    display: inline-block;
    font-weight: bold;
    overflow: hidden;
    padding: 2px 5px 2px 5px;
    color: auto;
}

.record .show-field .value {
    display: inline-block;
    overflow: hidden;
    padding: 2px 5px 2px 5px;
}

.posts {
    /* border: 1px solid; */
    padding: 5px;
    margin: 5px;
}

.ChatRoom {
    border: 1px solid;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    width: 300px;
    vertical-align: top;
}

.welcome {
    font-weight: bold;
    margin: 2px 5px 2px 5px;
}
