<div class="edit-field" data-class="field">
   <div class="label" data-class="field-var"><%= field.name %></div>
   <input type="text" name="<%= field.name %>" 
          value="" data-class="field-val" />
</div>
