<div class="show-field" data-class="field">
   <div class="label" data-class="field-var"><%= field.name %></div>
   <div class="value" data-class="field-val"><%= render owner.read_field(field) %></div>
</div>